.nextflow.log*
nextflow
.nextflow/
results*/
work*/
b1.txt
b2.txt
splicing.*
*.gz
*.fastq
test_single_end
human_test
*cred*
*credentials*
*results*/
reads.csv
rmats_pairs.txt
run_splicing_pipeline.sh
short.config
*report.html
*timeline.html
